.home-container {
  padding: 0 5%;
}

/* HeroBanner */
.homebanner {
  /* background-color: black; */
  aspect-ratio: 1/0.5;
}
.hb-carousel,
.owl-carousel,
.owl-stage-outer,
.owl-stage,
.owl-item,
.hb-item-con {
  width: 100%;
  height: 100% !important;
}
.hb-item-con {
  /* padding: 2rem; */
}

.car-con {
  width: 100%;
  padding: 10px 0;
}
.car-con-heading {
  margin: 20px 0 10px 0;
  width: 100%;
}


.m-apkcon {
  background-color: #ccc !important;
  border-radius: 14px;
  text-decoration: none;
  aspect-ratio: 1/0.5;
  align-items: flex-end !important;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 20px 10px;
  transition: all 0.2s ease-in-out;
}
.m-apkcon:hover {
  transform: translateY(-5px);
  box-shadow: -1px -1px 10px var(--bs1);
}
.m-apkcon:hover .apkcatlabel {
  transform: translate(6px, 4px) scale(1.2);
}
.apk-desc {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: end;
  padding: 4%;
  grid-template-columns: max-content max-content 1fr;
  gap: 20px;
  position: relative;
  background: linear-gradient(transparent, black);
}

.apk-info {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.apk-action {
  align-items: flex-end !important;
  flex-direction: column;
}
.apk-name {
  color: red;
}
.apk-logo {
  min-width: 60px;
  width: 10%;
  height: 24%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  background: white;
  background-size: cover;
}
.i-btn {
  padding: 8px 22px;
  border-radius: 8px;
  min-width: 30%;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--bg1) !important;
  opacity: 0.6;
  background-color: var(--t1);
  transition: all 0.3s ease-in-out;
}
.i-btn:hover {
  opacity: 1;
}
.apkcatlabel {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--t1);
  color: var(--bg1) !important;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 14px 0px 14px 0;
  transition: all 0.2s ease-in-out;
}
/* APK REct CONTAINER */

.apk-rect-con .mpara {
  color: red;
}

/* APK square CONTAINER */

.apk-square-con {
  width: 100%;
  flex-direction: column;
  /* border: 1px solid var(--b1); */
  padding: 10%;
  align-items: flex-start !important;
  transition: all 0.3s ease-in-out;
}
.apk-square-con:hover {
  transform: scale(1.05);
}
.apk-square-con img {
  width: 100% !important;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0px 0px 10px var(--bs1);
  transition: all 0.3s ease-in-out;
}
.apk-square-con > .sspara {
  color: var(--t1);
}
.apk-square-con img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px var(--bs1);
}
.apk-square-con > .para {
  padding: 0px 2px;
}

/* APK GRID CONTAINER */

.apk-grid-con {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 16px;
  position: relative;
  padding: 2rem 2%;
  /* height: 500px; */
}
.apk-grid-item {
  box-shadow: 2px 2px 10px var(--bs1);
  border-radius: 14px;
  overflow: hidden;
  aspect-ratio: 1;
  /* background: url(../../assets/svg/app-skele.svg); */
}
.apk-grid-item:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 2;
}
.apk-grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.apk-grid-con::before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  background: linear-gradient(transparent, var(--bg1) 80%, var(--bg1));
  width: 100%;
  height: 100%;
}
.random-sec {
  position: relative;
  flex-direction: column;
}
.apk-grid-btn {
  background-color: var(--bg1);
  padding: 10px 20px;
  min-width: 16%;
  border-radius: 14px;
  border: 1px solid var(--b1);
  color: var(--t1) !important;
  position: absolute;
  bottom: 5%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.apk-grid-btn:hover {
  background-color: var(--t1);
  color: var(--bg1) !important;
  border-color: transparent;
}

@media (max-width: 1200px) {
  .apk-grid-con {
    grid-template-columns: repeat(10, 1fr);
    gap: 14px;
  }
}
@media (max-width: 800px) {
  .apk-grid-con {
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
  }
}
@media (max-width: 600px) {
  .apk-grid-con {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
}

@media (max-width: 576px) {
  .apk-desc {
    gap: 10px;
  }
  .owl-prev,
  .owl-next {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .owl-nav span {
    font-size: 1.2rem;
  }
  .m-apkcon {
    margin: 20px 1%;
  }
}
@media (max-width: 440px) {
  .m-apkcon {
    aspect-ratio: 16/9;
  }
}
