.fsec:nth-child(2),
.fsec:last-child,
.fsub-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    box-shadow: 1px 1px 20px var(--bs1);
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg1);
    color: var(--t1);
}
.fsec{
    width: 100%;
}
.fsub-sec{
    flex-direction: column;
    /* width: 33.3%; */
    align-items: flex-start;
    padding-bottom: 5%;
}
.fsub-sec > li{
    list-style-type: none;
}
.fsec:last-child{
    justify-content: center;
    padding: 10px;
    border-top: 1px solid var(--b1);
}
.fsub-sec > li > a{
    color: var(--t1);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.fsub-sec > li > a:hover{
    color: var(--tt1);
}
.pf-secl {
    width: 100%;
    height: 100%;
    flex-direction: column;
    grid-column: span 2;
    /* border: 1px solid var(--b1); */
  }
  .pf-secl > .sh {
    color: var(--t2);
    margin: 1rem 5px 0rem 5px;
  }

@media (max-width: 1000px) {
    .fsec{
        padding: 20px 5%;
    }
}